@charset "UTF-8";

body {
    background: #eef0f8;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 350px;
}

.container-fluid {
    padding: 0 0.3%;
}

td.ciccio a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black !important;
}

.text-uppercase { text-transform: uppercase !important; }

.text-capitalize { text-transform: capitalize !important;}

.hidden { display: none !important; }

.dataTables_wrapper .child .dtr-details > li.hidden { display: none !important; }

.dropdown > .dropdown-menu a,
.dropdown.dropleft > .dropdown-menu a { line-height: 17px; }

.dropdown > .dropdown-menu a img,
.dropdown.dropleft > .dropdown-menu a img { width: 17px; height: 17px; }

.bg-blue-steel { background: #4B77BE!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-blue-sharp { background: #5c9bd1!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-green { background: #32c5d2!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-green-seagreen { background: #1BA39C!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-green-turquoise { background: #36d7b7!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-purple-medium { background: #BF55EC!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-purple-soft { background: #8877a9!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-yellow-casablanca { background: #f2784b!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-yellow-lemon { background: #f7ca18!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-black { background: #333 !important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }
.bg-red { background: #e7505a!important; color: #FFF!important; text-align: center !important; font-weight: bolder !important; }

td[class*="bg-"].text-left { text-align: left !important; }


.bg-whatsapp-0 { background: #DCF8C6 !important; color: #128C7E !important; font-weight: bold !important;}
.bg-whatsapp { background: #25D366 !important; color: #FFF !important; font-weight: bold !important;}
.bg-whatsapp-2 { background: #128C7E !important; color: #FFF !important; font-weight: bold !important;}
.bg-whatsapp-3 { background: #075E54 !important; color: #FFF !important; font-weight: bold !important;}
.bg-whatsapp i,
.bg-whatsapp-2 i,
.bg-whatsapp-3 i{ color: #FFF !important; }

.bg-whatsapp-0 i{ color: #128C7E !important; }


.symbol.symbol-blue-steel .symbol-label { background-color: #4B77BE; color: #ffffff; }
.symbol.symbol-blue-sharp .symbol-label { background-color: #5c9bd1; color: #ffffff; }
.symbol.symbol-green .symbol-label { background-color: #32c5d2; color: #ffffff; }
.symbol.symbol-green-seagreen .symbol-label { background-color: #1BA39C; color: #ffffff; }
.symbol.symbol-green-turquoise .symbol-label { background-color: #36d7b7; color: #ffffff; }
.symbol.symbol-purple-medium .symbol-label { background-color: #BF55EC; color: #ffffff; }
.symbol.symbol-purple-soft .symbol-label { background-color: #8877a9; color: #ffffff; }
.symbol.symbol-yellow-casablanca .symbol-label { background-color: #f2784b; color: #ffffff; }
.symbol.symbol-yellow-lemon .symbol-label { background-color: #f7ca18; color: #ffffff; }
.symbol.symbol-black .symbol-label { background-color: #333; color: #ffffff; }
.symbol.symbol-red .symbol-label { background-color: #e7505a; color: #ffffff; }

.label.label-blue-steel { background-color: #4B77BE; color: #ffffff; }
.label.label-blue-sharp { background-color: #5c9bd1; color: #ffffff; }
.label.label-green { background-color: #32c5d2; color: #ffffff; }
.label.label-green-seagreen { background-color: #1BA39C; color: #ffffff; }
.label.label-green-turquoise { background-color: #36d7b7; color: #ffffff; }
.label.label-purple-medium { background-color: #BF55EC; color: #ffffff; }
.label.label-purple-soft { background-color: #8877a9; color: #ffffff; }
.label.label-yellow-casablanca { background-color: #f2784b; color: #ffffff; }
.label.label-yellow-lemon { background-color: #f7ca18; color: #ffffff; }
.label.label-black { background-color: #333; color: #ffffff; }
.label.label-red { background-color: #e7505a; color: #ffffff; }

.tox-tinymce {
    /*height: 300px !important;*/
    background: #F3F6F9 !important;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background: #F3F6F9 !important;
    border-bottom: 1px #ccc dashed !important;
    padding: 11px 0px !important;
}

.tox .tox-menubar,
.tox .tox-toolbar-overlord,
.tox .tox-edit-area__iframe {
    background: #F3F6F9 !important;
}


input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background-color: #28a745 !important;
}

.table.dataTable td span.badge,
.table.dataTable td span.badge > i,
.table.dataTable td i {
    font-size: 75%;
    color: #333;
}

.table.dataTable td span.badge.costi,
.table.dataTable td span.badge.costi > i,
.table.dataTable td i {
    font-size: 100%;
    color: #333;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #DDDDDD;
}
